<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p>VACUNAS
  </p>
    <h1>Iniciar sesión</h1>
    <ion-icon name="enter-outline"></ion-icon>
    <ion-note> Identifíquese para acceder a su información y la de sus beneficiarios</ion-note>
    <form class="form">
      <input type="text" #username name="username" placeholder="Username">
      <input type="password" #password name="password" placeholder="Password">
    </form>
  <ion-button size="large" shape="round" strong = "true"  class="boton-tarjeta">
    <ion-icon name="vaccine"></ion-icon>
    Vacunas
    <ion-note>Información general de vacunas</ion-note>
  </ion-button>
  <ion-button size="large" shape="round" strong = "true" class="boton-tarjeta">
    <ion-icon name="reader-outline"></ion-icon>
    PVA
    <ion-note>Plan de vacunación andaluz actual</ion-note>
  </ion-button>

</ion-content>
