<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    En cumplimiento de lo dispuesto en el Reglamento(UE) 2016/679 General de Protección de Datos y demás normativa conexa, El SAS,como responsable de tratamiento,
    le informa que los datos obtenidos a traves de esta aplicación
  </ion-card>

</ion-content>
