<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    En cumplimiento de lo dispuesto en el Reglamento(UE) 2016/679 General de Protección de Datos y demás normativa conexa, El SAS,como responsable de tratamiento,
    le informa que los datos obtenidos a través de esta aplicación , en adelante en Vacunas, serán incorporados para sus tratamiento con la finalidad de ofrecerle
    acceso en linea, desde su dispositivo movil, al conjunto de vacunas que han recibido usted y sus beneficiarios, al PVA
    vigente y a informacion general de vacunas
    Sus datos serán respaldados en nuestros propios servidores, pudiendo ser tratados por prestadores de servicio en calidad
    de encargados del tratamiento, no preveyéndose comunicaciones de datos a terceros
    Podrá ejercer sus derechos de acceso,
  </ion-card>
</ion-content>
