<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      ClicSalud+
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secundary">
  <img class="imageslide" src="assets/img/clicsalud.PNG" alt="">

  <p><a target="_blank" rel="noopener noreferrer" href="https://www.sspa.juntadeandalucia.es/servicioandaluzdesalud/clicsalud/">Web ClicSalud+</a></p>



  <ion-list color = "secondary">
   <ion-item *ngFor="let lista of deseosService.listas" detail="" color = "secondary">

     <ion-label>
       {{lista.titulo}}
     </ion-label>
   </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="agregarLista()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
