<ion-header>
  <ion-toolbar color="warning">

    <ion-title>Inicio</ion-title>
  </ion-toolbar>


</ion-header>

<ion-content>
  <ion-button size="large" shape="round">
    <ion-icon name="enter-outline"></ion-icon>
     Iniciar sesión
    <ion-note>Identifíquese para acceder a su información y la de sus beneficiarios</ion-note>
  </ion-button>
  <ion-button size="large" shape="round">
    <ion-icon name="vaccine"></ion-icon>
    Vacunas
    <ion-note>Información general de vacunas</ion-note>
  </ion-button>
  <ion-button size="large" shape="round">
    <ion-icon name="reader-outline"></ion-icon>
    PVA
    <ion-note>Plan de vacunación andauz actual</ion-note>
  </ion-button>

</ion-content>
